/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--bl);
    /* border-radius: 10px; */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(241, 101, 23);
    border-radius: 10px;
    border: 1px solid var(--bl);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(187, 69, 5);
}
h1, h2, h3,  .h1, .h2, .h3 {
    /* font-family: 'Alfa Slab One', cursive; */
    font-family: 'Roboto Slab', serif;
}

h4, h5, h6,.h4, .h5, .h6 {

    font-family: 'Cabin', sans-serif;

}
body{
    overflow-x: hidden;
}

* {
    font-family: 'Lato', sans-serif;
}
:root{
    --o: #f16517;
    --w: rgb(250, 247, 244);
    --bl: rgb(33,33,33);
}

.text-o{
    color: var(--o);
}
.bg-o{
    background-color: var(--o);
}
.text-w {
    color: var(--w);
}
.bg-w {
    background-color: var(--w);
}
.text-bl {
    color: var(--bl);
}
.bg-bl {
    background-color: var(--bl);
}

/* NAVBAR */
nav{
    height: 80px;
}
.logo-custom{
    height: 75px;
}

.nav-custom{
    color: var(--bl);
    transition: 0.4s;
}

.nav-custom:hover{
    color: var(--o);
    border-bottom: 2px solid var(--o);
    padding-bottom: 5px;
}

.border-revisor{
    border: 1px solid var(--o);
}
.dropdown .list-group-item {
    width: 400px !important;
}
.login-dropdown{
    background-color: var(--w);
}
.login-dropdown[data-bs-popper] {
    left: -100px !important;
}
.no-hover:hover{
    background-color: var(--w);
}
.no-hover2 {
    border: none;
}.no-hover2:hover {
    background-color: var(--w);
}
.no-hover{
    border: 2px solid var(--bl);
}
.no-hover1:hover{
    color: var(--o);
}
.no-hover3:hover {
    background-color: transparent;
}
.form-custom-o{
    border: 2px solid var(--o);
}
.main-dropdown{
    background-color: var(--w);
}



/*HEADER*/
.btn-custom{
    color: var(--w);
    padding: 10px , 15px;
    background-color: var(--o);
    border: 2px solid var(--w);
    border-radius: 15px;
    transition: 0.5s;
}
.btn-custom:hover{
    transform: scale(1.1);
}
.bg-head-image{
    background-image: linear-gradient(to right, rgba(33, 33, 33, 0.2) 0%, rgba(33, 33, 33, 0.1) 100%), url(/media/header2.jpg);
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
}

.h-custom{
    height: 300px;
}
/* CATEGORIES SECTION */
.input-custom{
    height: 40px;
}

.fa-magnifying-glass{
    margin: 10px;
}

.shadow-filter{
    border-radius: 20px;
    border: 2px solid var(--o);
}

.grey{
    color: gray;
}

.icon-hover{
    transition: 0.5s;
}

.icon-hover:hover{
    transform: scale(1.1);
    border-bottom: 1px solid var(--o);
}


/* SWIPER HOMEPAGE(ultimi articoli) */
.swiper{
    width: 700px;
    height: 400px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.active{
    background-color: var(--w) !important;
}
.active:after {
    display: none;
}

.swiper {
    width: 100%;
    height: 500px;
    margin: 20px auto;
}
.mySwiper{
    border: 5px solid var(--o);
}
.swiper-custom{
    height: 300px !important;
}
.bg-placeholder{
    background: var(--bl);
    border: 2px solid var(--o);
    width: 90%;
        height: 300px
}
.box-img-show{
    border: 2px solid var(--o);
    background-color: var(--w);
    border-radius: 20px;
}
.revisor-box{
    padding: 20px;
    border: 2px solid var(--o);
    background-color: var(--w);
    border-radius: 20px;
}
.power-slide{
    box-shadow: 2px 2px 5px var(--bl);
}


/* SWIPER DETTAGLIO ARTICOLI*/
/* .swiper {
    width: 500px;
    height: 300px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    /* display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
} */


/* FOOTER */

.footer-link:hover{
    transition: 0.5s;
    color: var(--bl);

}

.border-light{
    border-radius: 20px;
}

.input-group:not(.has-validation) > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu), .input-group:not(.has-validation) > .dropdown-toggle:nth-last-child(n+3) {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.icon-width{
    width: 20px;
    height: 20px;
}
/*BUTTONS*/
.custom1-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}
.btn-c {
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: 1px solid var(--w);
    background: var(--o);
    background: linear-gradient(0deg, var(--o) 0%, var(--o) 100%);
}

.btn-c:hover {
    color: var(--o);
    background: transparent;
    box-shadow: none;
    border:none;
}

.btn-c:before,
.btn-c:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: var(--o);
    box-shadow:
    -1px -1px 5px 0px #fff,
    7px 7px 20px 0px #0003,
    4px 4px 5px 0px #0002;
    transition: 400ms ease all;
}

.btn-c:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

.btn-c:hover:before,
.btn-c:hover:after {
    width: 100%;
    transition: 800ms ease all;
}
/*BTN FOOTER*/
.btn-d {
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: 1px solid var(--w);
    background: var(--o);
    background: linear-gradient(0deg, var(--o) 0%, var(--o) 100%);
}

.btn-d:hover {
    color: var(--w);
    background: transparent;
    box-shadow: none;
    border: none;
}

.btn-d:before,
.btn-d:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: var(--w);
    box-shadow:
    -1px -1px 5px 0px #fff,
    7px 7px 20px 0px #0003,
    4px 4px 5px 0px #0002;
    transition: 400ms ease all;
}

.btn-d:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

.btn-d:hover:before,
.btn-d:hover:after {
    width: 100%;
    transition: 800ms ease all;
}
.p-article{
    line-height: 10px;
}
.img-article{
    border: 2px solid var(--o);
    border-radius: 10px;

}
.article-box {
    box-shadow: 2px 2px 5px var(--bl);
    border-radius: 10px;
    transition: 0.5s;
    background-color: var(--w);
    width: 23%;
}

.article-box:hover {
    transform: scale(1.1);
}.article-box1 {
    box-shadow: 2px 2px 5px var(--bl);
    border-radius: 10px;
    transition: 0.5s;
    background-color: var(--w);
    width: 20%;
}

.article-box1:hover {
    transform: scale(1.1);
}
.text-cards{
    font-size: 14px;
}
.filter-col{
    padding: 5px;
    box-shadow: 2px 2px 5px var(--bl);
}

.rounded-borders{
    border-radius: 20px;
}

.border-bottom{
    border-bottom: 1px solid var(--o);
}

.btn-rounded{
    border-radius: 50%;
    transition: 0.3s;
}

.btn-rounded:hover{
    transform: scale(1.2);
}

/* Custom img-preview */
.img-preview{
    width: 200px;
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
}
.ph-img{
    background-color: var(--o);
    background-image: linear-gradient(rgba(33,33,33,0.4));
}


/* flag icon */

.flag-ctm{
    background-color: transparent;
    border:none;
}
.lang-dropdown{
    background-color: transparent;
    border: none !important;
}
/* ACCORDION */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }

  .active, .accordion:hover {
    background-color: #ccc;
  }

  .accordion:after {
    content: '\002B';
    color:var(--o);
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }

  .active:after {
    content: "\2212";
  }

  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }






/* CARD ANNUNCI */

@import url("https://fonts.googleapis.com/css2?family=Istok+Web:wght@400;700&display=swap");





.card {
  position: relative;
  width: 320px;
  height: 480px;
  background: var(--w);
  border: 1px solid var(--o);
  border-radius: 20px;
  overflow: hidden;
}

.card::before {
  content: "";
  position: absolute;
  top: -50%;
  width: 100%;
  height: 50%;
  background:var(--o);
  transform: skewY(360deg);
  transition: 1.5s;
}

.card:hover::before {
  top: -50%;
  transform: skewY(180deg);
}

.card::after {

  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 600;
  font-size: 6em;
  color: rgba(0, 0, 0, 0.1);
}
.card:hover{

}
body{
    overflow-x: hidden;
}

.card .imgBox {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-top: 20px; */
  /* z-index: 1; */
}
/*
.card .imgBox img {
    max-width: 100%;

    transition: .5s;
}

.card:hover .imgBox img {
    max-width: 50%;

}
*/
.card .contentBox {
  position: relative;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}

.card .contentBox h3 {
  font-size: 18px;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.card .contentBox .price {
  font-size: 24px;
  color: white;
  font-weight: 700;
  letter-spacing: 1px;
}

.card .contentBox .buy {
  position: relative;
  top: 100px;
  opacity: 0;
  padding: 10px 30px;
  /* margin-top: 15px; */
  color: #000000;
  text-decoration: none;
  background:var(--o);
  border-radius: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.5s;
}

.card:hover .contentBox .buy {
  top: 0;
  opacity: 1;
}

.mouse {
  height: 300px;
  width: auto;
}
.accordion-custom{
    /* background-color: rgba(241, 101, 23, 0.2); */
    border-left: 1px solid var(--o);
    border-right: 1px solid var(--o);
    border-top: 1px solid var(--o);

}
.bb-custom{
    border-bottom: 1px solid var(--o);
}
.accordion-custom:hover {
    background-color: rgba(241, 101, 23, 0.5);
}
.border-accordion-custom{
    border: 1px solid var(--o);

}
.lang-bg{
    background-color: transparent;
    border: none;
}

.page-link {
    position: relative;
    display: block;
    color: var(--o);
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #dee2e6;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.text-muted{
    display: none;
}

@media (prefers-reduced-motion: reduce) {
    .page-link {
        transition: none;
    }
}

.page-link:hover {
    z-index: 2;
    color: var(--o);
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.page-link:focus {
    z-index: 3;
    color: var(--o);
    background-color: #e9ecef;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.page-item:not(:first-child) .page-link {
    margin-left: -1px;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: var(--o);
    border-color: var(--o);
}

.page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    background-color: #fff;
    border-color: #dee2e6;
}

.page-link {
    padding: 0.375rem 0.75rem;
}

.page-item:first-child .page-link {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.page-item:last-child .page-link {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.pagination-lg .page-link {
    padding: 0.75rem 1.5rem;
    font-size: 1.25rem;
}

.pagination-lg .page-item:first-child .page-link {
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
}

.pagination-lg .page-item:last-child .page-link {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
}

.pagination-sm .page-link {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
}

.pagination-sm .page-item:first-child .page-link {
    border-top-left-radius: 0.2rem;
    border-bottom-left-radius: 0.2rem;
}

.pagination-sm .page-item:last-child .page-link {
    border-top-right-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
}


















/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .article-box,.article-box1 {
        width: 75%;
        margin-top: 30px;

    }
    .bg-head-image {
        height: 200px;
    }
    .img-preview{
        width: 100px;
        height: 100px;

    }
    .swiper-custom{
        width: 300px !important;
        height: 200px !important;    }
        .main-dropdown{
            padding: none;
        }
        .lang-bg{
            /* display: flex; */
            border:none;
            background-color: var(--w);
        }
        .lang-flex{
            display: flex;
        }
        .mobile-margin{
            padding-left: 0px 50% !important;
        }
}